
{% block jgp_entity_list %}
<div{{ jgp_attributes(element.attributes)}}>
	<div class="pc-top-content-block-wrapper{% if element.options.filter %} filter{% else %} no-filter{% endif %}">
		{% if element.options.filter %}
			<div class="pc-input-wrapper">
				<input class="pc-search search"
					placeholder="{{ 'share.search'|trans({}, element.options.translation_domain) }}" />
				<i class="glyphicon glyphicon-search"></i>
			</div>
		{% endif %}
		<div class="pc-table-title">{{ element.label|trans({}, element.options.translation_domain) }}</div>
	</div>
	<table class="table table-case" id="houses-list">
		<thead>
			{{ jgp_element_render(element.header) }}
		</thead>
		<tbody class="list">
 			{{ jgp_element_render(element.body) }}
		</tbody>
	</table>
	<ul class="pagination"></ul>
</div>
{% endblock jgp_entity_list %}

{% block jgp_simple_header %}
<tr{{ jgp_attributes(element.attributes)}}>
	{% for child in element.children %}
	{{ jgp_element_render(child) }}
	{% endfor %}
</tr>
{% endblock jgp_simple_header %}

{% block jgp_simple_header_element %}
<th{{ jgp_attributes(element.attributes)}}>
	<a class="sort" data-sort="{{ element.fieldName }}">
        {{ element.label|trans({}, element.options.translation_domain) }}
	</a>
</th>
{% endblock jgp_simple_header_element %}

{% block jgp_simple_body %}
    {% if element.children is not iterable or element.children is empty %}
        <tr><td class="text-center">{{ 'no_results_found'|trans({}, element.options.translation_domain) }}</td></tr>
    {% endif %}
    {% for child in element.children %}
        {{ jgp_element_render(child) }}
    {% endfor %}
{% endblock jgp_simple_body %}

{% block jgp_simple_row %}
<tr{{ jgp_attributes(element.attributes)}}>
	{% for child in element.children %}
    {{ jgp_element_render(child) }}
	{% endfor %}
</tr>
{% endblock jgp_simple_row %}

{% block jgp_simple_cell %}
<td{{ jgp_attributes(element.attributes)}}>
	<div class="pc-entity-field" data-field="{{ element.fieldName }}">{{ element.value }}</div>
</td>
{% endblock jgp_simple_cell %}

{% block jgp_datetime_cell %}
	<td{{ jgp_attributes(element.attributes)}}>
		<span data-field="{{ element.fieldName }}" style="display: none;">{{ element.rawValue|date('Ymdhis') }}</span>
		<div class="pc-entity-field">{{ element.value }}</div>
	</td>
{% endblock jgp_datetime_cell %}