
{% block m7_entity_list %}
<div{{ m7_attributes(element.attributes)}}>
	<div class="pc-top-content-block-wrapper">
		<div class="pc-input-wrapper">
			<input class="pc-search search"
				placeholder="{{ 'share.search'|trans({}, element.options.translation_domain) }}" />
			<i class="glyphicon glyphicon-search"></i>
		</div>
		<div class="pc-table-title">{{ element.label|trans({}, element.options.translation_domain) }}</div>
	</div>
	<table class="table table-case" id="houses-list">
		<thead>
			{{ m7_element_render(element.header) }}
		</thead>
		<tbody class="list">
 			{{ m7_element_render(element.body) }}
		</tbody>
	</table>
	<ul class="pagination"></ul>
</div>
{% endblock m7_entity_list %}

{% block m7_simple_header %}
{{  }}
<tr{{ m7_attributes(element.attributes)}}>
	{% for child in element.children %}
	{{ m7_element_render(child) }}
	{% endfor %}
</tr>
{% endblock m7_simple_header %}

{% block m7_simple_header_element %}
<th{{ m7_attributes(element.attributes)}}>
	<a href='#' class="sort" data-sort="{{ element.fieldName }}">
        {{ element.label|trans({}, element.options.translation_domain) }}
	</a>
</th>
{% endblock m7_simple_header_element %}

{% block m7_simple_body %}
    {% if element.children is not iterable or element.children is empty %}
        <tr><td class="text-center">{{ 'no_results_found'|trans({}, element.options.translation_domain) }}</td></tr>
    {% endif %}
    {% for child in element.children %}
        {{ m7_element_render(child) }}
    {% endfor %}
{% endblock m7_simple_body %}

{% block m7_simple_row %}
<tr{{ m7_attributes(element.attributes)}}>
	{% for child in element.children %}
    {{ m7_element_render(child) }}
	{% endfor %}
</tr>
{% endblock m7_simple_row %}

{% block m7_simple_cell %}
<td{{ m7_attributes(element.options.attrs)}}>
	<div class="pc-entity-field" data-field="{{ element.fieldName }}">{{ element.value }}</div>
</td>
{% endblock m7_simple_cell %}