
{% block m7_entity_list %}
<div class="table-responsive m7-searchable-table" data-terms="{{ element.fields|join(',') }}">
    <div class="pc-top-content-block-wrapper">
        <div class="pc-input-wrapper">
            <input class="pc-search search" placeholder="{{ 'share.search'|trans }}" />
            <i class="glyphicon glyphicon-search"></i>
        </div>
        <div class="pc-table-title">{{ element.label|trans }}</div>
    </div>
    <table class="table table-case" id="houses-list">
        {% for child in element.children %}
            {{ m7_element_render(child) }}
        {% endfor %}
    </table>
</div>
{% endblock m7_entity_list %}

{% block m7_simple_header %}
<thead>
  <tr>
    {% for child in element.children %}
      {{ m7_element_render(child) }}
    {% endfor %}
  </tr>
</thead>
{% endblock m7_simple_header %}

{% block m7_simple_header_element %}
  <th><a href='#' class="sort" data-sort="{{ element.fieldName }}">{{ element.label|trans }}</a></th>
{% endblock m7_simple_header_element %}
